@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@config "../tailwind.config.js";
@import 'tailwindcss';

@font-face {
  font-family: 'Taviraj';
  src: url('/fonts/Taviraj-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  /*   --apkt-tokens-core-backgroundAccentPrimary-base: #f3efcd;
 */
}

@theme {
  --color-border-default: #c4c4c4;
  --color-primary: #4a8f5d;
  --color-secondary: #fcfbf2;
  --color-tertiary: #9adcab;
  --color-gray-200: #808080;
  --color-gray-800: #333333;
  --color-text-translucent: #ffffffbb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(252, 251, 242);
    --foreground: #171717;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-optical-sizing: auto;
}

/* h1,
h2,
h3 {
  font-family: 'Taviraj', serif;
}

.tajiraj {
  font-family: 'Taviraj', serif;
} */

body {
  color: var(--foreground);
  background: var(--background);
}

button {
  font-family: var(--font-space-grotesk), sans-serif;
}

.category-select {
  font-family: var(--font-space-grotesk), sans-serif;
}

.range {
  height: 1.2rem;
}

.range::-webkit-slider-runnable-track {
  height: 10px;
  z-index: 20;
}

.range__slider [type='range'] {
  width: 100%;
  height: 13px;
  border-radius: 6px;
  outline: none;
  padding: 0;
  margin: 0;
  accent-color: #4a8f5d;
}

.range__slider [type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #4a8f5d;
  border: #fff 3px solid;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range__slider [type='range']::-webkit-slider-thumb:hover {
  background: #2e3092;
}

.range__slider [type='range']::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 50%;
  background: #4a8f5d;
  border: #fff 5px solid;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range__slider [type='range']::-moz-range-thumb:hover {
  background: #2e3092;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
